/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#mapa {
	height: 100%;
}
.parallax-container {
	width: 100%;
    height: 500px;
    background-size: 100% 100%;
    color:00CF51;
}
.header-center {
	color:#03FFF3;
	text-align: center;
}
.header-light{
	color:#00CFC5;
	text-align: center;
}